.titleContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0px 30px 20px rgb(255, 255, 255);
  z-index: -1;
  padding: 20px 0 20px 0;
}

.titleContainer h1 {
  margin: 0;
  font-weight: lighter;
}

.title {
  text-align: center;
  font-size: 50px;
  color: black;
  background-color: white;
  display:inline-block;
  z-index: 2;
  padding: 0px 20px 0px 20px;
}

.lineThrough {
  position: absolute;
  width: 80%;
  height: 3px;
  background-color: var(--dark);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

@media(max-width: 1000px) {
  .title {
    font-size: 40px;
    padding: 0px 15px 0px 15px;
  }
}

@media(max-width: 1035px) {
  .title {
    font-size: 40px;
    padding: 0px 10px 0px 10px;
  }

  .lineThrough {
    width: 95%;
  }
}

@media(max-width: 600px) {
  .title {
    font-size: 30px;
  }
}

@media(max-width: 425px) {
  .title {
    font-size: 25px;
  }
}