.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.shopContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.shopSubContainer {
  display: flex;
  height: 100%;
  justify-content: space-between;
  width: 95%;
  max-width: 2000px;
}

.noteContainer {
  background-color: var(--dark);
  box-shadow: var(--shadow);
  border-radius: 5px;
}

.noteContainer p {
  padding: 15px;
  margin: 0;
  color: white;
  font-size: 15px;
}

.noteContainer a {
  text-decoration: none;
  color: var(--light);
  font-weight: bold;
  margin: 0
}

.noteContainer a:hover {
  color: white
}

.categoryList {
  width: 15%;
}

.productList {
  width: 100%;
}

.productListContainer {
  width: 100%;
  height: 100%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--dark);
  margin: 10px 0;
}

@media(max-width: 1170px) {
  .categoryList {
    width: 20%;
  }

  .productListContainer {
    width: 80%;
  }
}

@media(max-width: 870px) {
  .shopSubContainer {
    flex-direction: column;
    align-items: center;
  }

  .categoryList, .productListContainer {
    width: 100%;
  }

  .productListContainer {
    margin: 10px 0;
  }
}