.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  height: 100%;
}

.itemTextContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
  margin-top: -60px;
  width: 100%;
}

.itemText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 90px 30px 30px 30px;
}

.itemText p {
  text-align: justify;
  text-align-last: center;
}

.itemText h2 {
  margin: 0;
}

.hex {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 150px;
  height: 175px;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  border: 5px solid transparent;
  background-color: var(--darkOpaque);
}

.hex img {
  background-color: transparent;
  object-fit: contain;
  width: 80%;
  height: 100%;
}

.underline {
  width: 90px;
  height: 3px;
  background-color: var(--dark);
}