.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 30px 0;
}

.container a {
    text-decoration: none;
    color: black
}

.container a:visited {
    color: black;
}

.cardContent {
    text-align: center;
    box-shadow: var(--shadow);
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    transition: 150ms;
}

.cardContent:hover {
    opacity: 0.8;
}

.cardContent img {
    width: 350px;
    aspect-ratio: 1/1;
    object-fit: contain;
}

@media(max-width: 1200px) {
    .cardContent img {
        width: 250px;
    }
}

@media(max-width: 850px) {
    .cardContent img {
        width: 200px;
    }
}