.container {
  background-color: white;
  border-radius: 10px;
  height: fit-content;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
  display: flex;
}

.listContainer {
  padding: 20px;
  width: 100%;
}

.listContainer h1 {
  font-size: 15px;
  margin: 5px 0 15px 0;
}

.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.listItemBtn {
  width: 100%;
  cursor: pointer;
}

.listItemBtn:hover {
  color: var(--light);
}

.listItemExpand {
  padding: 0;
  font-size: 10px;
  width: 25px;
  aspect-ratio: 1/1;
}

.listItem h2 {
  font-weight: lighter;
  font-size: 14px;
  margin: 5px 0 5px 0;
}

.listSubItemsContainer {
  overflow: hidden;
  padding-left: 20px;
  margin-bottom: 10px;
}

.hidden {
  height: 0;
  margin-bottom: 0;
}

.active h2 {
  color: var(--light);
  font-weight: bold;
}