.contactContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.contactContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  box-shadow: var(--shadow);
  overflow: hidden;
  border-radius: 10px;
  width: 25%;
  padding: 20px 0 20px 0;
  margin: 10px;
}

.contactContent img {
  width: 20%;
  object-fit: contain;
  object-position: center;
}

.contactText {
  text-align: center;
  margin: 20px 0 0px 0;
}

.contactText h1, .contactText h2 {
  font-weight: lighter;
}

.contactText h1 {
  margin: 0 0 5px 0;
}

.contactText h2 {
  margin: 10px 0 5px 0;
  font-size: 20px;
}

.contactText a {
  margin-bottom: 5px;
  display: inline-block;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  color: var(--medium)
}

.contactText a:hover {
  color: var(--light)
}

@media(max-width: 1050px) {
  .contactContent {
    width: 45%;
  }
}

@media(max-width: 600px) {
  .contactText h1 {
    font-size: 20px;
  }

  .contactText h2 {
    font-size: 17px;
  }
}

@media(max-width: 475px) {
  .contactContent {
    width: 90%;
  }
}