.projectsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.projectContent {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
  width: 30%;
  height: fit-content;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.projectImg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 200px;
  z-index: 1;
}

.projectTextContainer {
  display: flex;
  transition: 150ms;
  height: 50%;
}

.projectTextContainer h1 {
  margin: 0;
  font-size: 25px;
}

.projectTextContainer h2 {
  margin: 0;
  font-size: 17px;
  font-weight: lighter;
}

.projectTextContainer ul {
  margin: 10px 0 0 0;
  list-style: none;
  padding-left: 25px;
}


.projectTextContainer li:before{
  content: "⬢";
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  color: var(--dark);
}

.projectText {
  padding: 20px;
}

@media(max-width: 960px) {
  .projectContent {
    width: 45%;
  }
}

@media(max-width: 650px) {
  .projectContent {
    width: 90%;
  }
}

@media(max-width: 425px) {
  .projectTextContainer h1 {
    font-size: 25px;
  }
}